<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-sms-history"
        version="1.0.2">

    <name>SmsHistory</name>

    <description>
        This plugin allows you to retrieve the phone's message history.
    </description>

    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/ReadSms.js" name="ReadSms">
        <clobbers target="window.plugins.readsms"/>
    </js-module>

    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ReadSms">
                <param name="android-package" value="com.def.plugins.ReadSms" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.READ_SMS" />
        </config-file>

        <source-file src="src/com/plugins/ReadSms.java" target-dir="src/com/def/plugins"/>
    </platform>
</plugin>
